version: "3.8"

include:
  - compose.infra.yml

services:
  # -------------------------------------------------------------------------
  # BACKEND SERVICES
  # -------------------------------------------------------------------------
  auth-service:
    build:
      context: ./services/auth-service
      dockerfile: Dockerfile
    ports:
      - "8081:8080"
    environment:
      - APP_ENV=dev
      - HTTP_ADDR=:8080
      - DB_ADDR=postgres://postgres:postgres@cityevents-postgres:5432/auth_db?sslmode=disable
      - REDIS_ADDR=cityevents-redis:6379
      - REDIS_DB=0
      - RABBIT_URL=amqp://guest:guest@cityevents-rabbitmq:5672/
      - JWT_SECRET=change_me
      - INTERNAL_SECRET_KEY=sharedkey
      - VERIFY_EMAIL_BASE_URL=http://localhost:8080/auth/v1/verify-email/confirm?token=
      - PASSWORD_RESET_BASE_URL=http://localhost:8080/auth/v1/password/reset/validate?token=

    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy

  event-service:
    build:
      context: ./services/event-service
      dockerfile: Dockerfile
    ports:
      - "8082:8080"
    environment:
      - APP_ENV=dev
      - HTTP_ADDR=:8080
      - DATABASE_URL=postgres://postgres:postgres@cityevents-postgres:5432/event_db?sslmode=disable
      - RABBIT_URL=amqp://guest:guest@cityevents-rabbitmq:5672/
      - JWT_SECRET=change_me
      - REDIS_ENABLED=true
      - REDIS_URL=redis://cityevents-redis:6379/1

    depends_on:
      postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy

  join-service:
    build:
      context: ./services/join-service
      dockerfile: Dockerfile
    ports:
      - "8083:8080"
    environment:
      - APP_ENV=dev
      - PORT=8080
      - DATABASE_URL=postgres://postgres:postgres@cityevents-postgres:5432/join_db?sslmode=disable
      - RABBITMQ_URL=amqp://guest:guest@cityevents-rabbitmq:5672/
      - JWT_SECRET=change_me
      - REDIS_ADDR=cityevents-redis:6379
      - REDIS_DB=2

    depends_on:
      postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy

  email-service:
    build:
      context: ./services/email-service
      dockerfile: Dockerfile
    ports:
      - "8090:8090"
    environment:
      - APP_ENV=dev
      - RABBIT_URL=amqp://guest:guest@cityevents-rabbitmq:5672/
      - REDIS_ADDR=cityevents-redis:6379
      - REDIS_ENABLED=true
      - INTERNAL_SECRET_KEY=sharedkey
      - SMTP_HOST=mailhog
      - SMTP_PORT=1025
    depends_on:
      rabbitmq:
        condition: service_healthy

  # -------------------------------------------------------------------------
  # API GATEWAY / BFF
  # -------------------------------------------------------------------------
  bff-service:
    build:
      context: ./services/bff-service
      dockerfile: Dockerfile
    ports:
      - "8080:8080" # Main API Entry
    environment:
      - APP_ENV=dev
      - HTTP_PORT=8080
      - AUTH_SERVICE_URL=http://auth-service:8080
      - EVENT_SERVICE_URL=http://event-service:8080
      - JOIN_SERVICE_URL=http://join-service:8080

    depends_on:
      - auth-service
      - event-service
      - join-service

  # -------------------------------------------------------------------------
  # FRONTEND
  # -------------------------------------------------------------------------
  web:
    build:
      context: ./apps/web
      dockerfile: Dockerfile
    ports:
      - "3000:80"
