# services/event-service/air.toml
root = "."
testdata_dir = "testdata"
tmp_dir = "tmp"

[build]
  cmd = "go build -o ./tmp/main.exe ./api/cmd/main.go"
  
  bin = "tmp\\main.exe"
  
  include_dir = ["api", "internal"]
  include_ext = ["go", "tpl", "tmpl", "html", "env"]
  exclude_dir = ["assets", "tmp", "vendor", "testdata", "migrations"]
  exclude_regex = ["_test.go"]
  delay = 1000
  stop_on_error = true
  send_interrupt = true
  kill_delay = "2s"
  rerun = false
  rerun_delay = 500

[color]
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  main_only = false
  silent = false
  time = false

[misc]
  clean_on_exit = true

[screen]
  clear_on_rebuild = false
  keep_scroll = true